.heading {
  font-size: 14px;
  font-weight: 600;
}
.planing {
  margin-top: 20px;
}
.col-container {
  margin-top: 10px;
}
* {
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgray;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 60px;
  height: 100vh;
}
body {
  height: 100vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #000000;
  transition: 0.3s;
}
.navbar a:hover::before {
  width: 100%;
}
li {
  margin: 10px 0;
}
ol {
  padding: 30px;
}
ol li {
  margin: 20px 0;
}
